<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Concesionaria</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="max-container">
        <div id="header">
            <img src="logo.png" class="logo">
            <h1 id="title">Menú de Gestión - ABM</h1>
        </div>
        <div id="espaciado"></div>
        <div class="container">
            <div class="section">
                <p>Autos Disp. 0km</p>
                <a href="../2. Auto Disponible 0KM/Agregar Auto 0km/index.html">Agregar</a>
                <a href="../2. Auto Disponible 0KM/Modificar Auto 0km/index.html">Modificar</a>
                <a href="../2. Auto Disponible 0KM/Borrar Auto 0km/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Accesorios</p>
                <a href="../1. Accesorio/Agregar Accesorio/index.html">Agregar</a>
                <a href="../1. Accesorio/Modificar Accesorio/index.html">Modificar</a>
                <a href="../1. Accesorio/Borrar Accesorio/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Usuarios</p>
                <a href="../10. Usuario/Agregar Usuario/index.html">Agregar</a>
                <a href="../10. Usuario/Modificar Usuario/index.html">Modificar</a>
                <a href="../10. Usuario/Borrar Usuario/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Reparaciones</p>
                <a href="../9. Reparación Disponible/Agregar Reparacion Disponible/index.html">Agregar</a>
                <a href="../9. Reparación Disponible/Modificar Reparación Disponible/index.html">Modificar</a>
                <a href="../9. Reparación Disponible/Borrar Reparación Disponible/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Autos Usados</p>
                <a href="../3. Auto Usado/Modificar Auto Usado/index.html">Modificar</a>
                <a href="../3. Auto Usado/Borrar Auto Usado/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Clientes</p>
                <a href="../4. Cliente/Modificar Cliente/index.html">Modificar</a>
                <a href="../4. Cliente/Borrar Cliente/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Personas</p>
                <a href="../6. Persona/Modificar Persona/index.html">Modificar</a>
                <a href="../6. Persona/Borrar Persona/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Morosos</p>
                <a href="../5. Moroso/Borrar Moroso/index.html">Borrar</a>
            </div>
            <div class="section">
                <p>Porcentajes</p>
                <a href="../7. Porcentaje/Modificar Porcentaje/index.html">Modificar</a>
            </div>
            <div class="section">
                <p>Propietarios</p>
                <a href="../8. Propietario/Borrar Persona/index.html">Borrar</a>
            </div>
        </div>
        <div class="container volver">
            <a href="#">Regresar</a>
        </div>
        <div id="espaciado"></div>
    </div>
    <footer id="footer">
        <p id="copyright">LPP Concesionario</p>
        <p id="copyright">&copy 2023 Todos los derechos reservados</p>
    </footer>
</body>

</html>