<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/c6/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>Menu de Ventas de Automóviles Usados</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Activa el dark mode-->
    <%- include('../../partials/head') %>
</head>

<body>
    <%- include('../../partials/navigation') %>
        <% if (typeof msg !=='undefined' ) { %>
            <script>
                alert('<%= msg %>');
            </script>
            <% } %>
                <div class="contenedor">
                    <h1>Menu de Ventas de Automóviles Usados</h1>

                    <div class="contenedor-botones1">
                        <a class="boton menú" href="/c6/b1">1. Procesar Solicitud de Compra de Auto Usado</a>
                    </div>
                    <div class="contenedor-botones">
                        <form action="/c6/b2" method="POST">
                            <input type="number" min="0" name="nroPres" class="form-control" id="inputNroPres"
                                placeholder="Numero de Presupuesto de Auto Usado">

                            <input type="submit" class="boton menú" value="2. Procesar Confirmación de Compra">
                        </form>

                        <form action="/c6/b3" method="POST">
                            <input type="number" min="0" name="nroF" class="form-control" id="inputNroPres"
                                placeholder="Ingrese el número de factura a pagar.">

                            <input type="submit" class="boton menú" value="3. Recepción de pago de Auto Usado">
                        </form>
                    </div>
                    <div class="contenedor-botones1">
                        <form action="/c6/b4" method="POST" style="width: 100%">
                            <input type="number" min="0" name="nroF" class="form-control" id="inputNroPres"
                                placeholder="Ingrese el número de factura paga.">

                            <input type="submit" class="boton menú" value="4. Procesar Solicitud de Retiro Auto Usado">
                        </form>
                    </div>
                    <div class="contenedor-botones">
                        <form action="/c6/b5" method="POST" style="width: 100%">
                            <input type="number" min="0" name="codR" class="form-control" id="inputCodR"
                                placeholder="Ingrese el número de la órden de retiro.">
                            <input type="submit" class="boton menú" value="5. Procesar Retiro Auto Usado Vendido">
                        </form>
                        <form action="/c6/b6" method="POST" style="width: 100%">
                            <input type="number" min="0" name="codORPAG" class="form-control" id="inputCodR"
                                placeholder="Ingrese el número de la órden de pago a cobrar.">
                            <input type="submit" class="boton menú" value="6. Procesar Pago al ExPropietario">
                        </form>
                    </div>
                    <div class="contenedor-botones1">
                        <a href="/menu" class="boton menú"><span>REGRESAR</span></a>
                    </div>

                </div>
                <footer id="footer">
                    <p class="footer-text">LPP Concesionario</p>
                    <p class="footer-text">&copy; 2023 Todos los derechos reservados</p>
                </footer>
                <style>
                    html {
                        height: 100% !important;
                    }

                    h1 {
                        border: 0 !important;
                    }

                    body {
                        display: flex !important;
                        flex-direction: column !important;
                        min-height: 100% !important;
                    }

                    #footer {
                        margin-top: auto !important;
                        background-color: rgba(33, 37, 41, 1) !important;
                        padding: 40px;
                        bottom: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        text-align: center;
                    }

                    .input-group-text {
                        width: 300px !important;
                        margin: 70px auto 20px auto;
                        border: 0;
                        border-radius: 5px !important;
                        background-color: #e0e0e0;
                    }

                    input[type="text"] {
                        margin-top: -5px !important;
                        display: block;
                        width: 300px !important;
                        margin: 0 auto 30px !important;
                        border: 0;
                        border-radius: 5px !important;
                        border-top-left-radius: 0% !important;
                        border-top-right-radius: 0% !important;
                        text-align: center !important;
                    }

                    .card-body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        min-height: 200px;
                        /* Ajusta la altura mínima según sea necesario */
                    }

                    .navbar {
                        z-index: 100;
                    }

                    .card.text-center.text-light {
                        display: flex !important;
                        flex-direction: column !important;
                        align-items: center !important;
                        justify-content: center !important;
                        min-height: 200px !important;
                        /* Ajusta la altura mínima según sea necesario */
                    }

                    #principal-description {
                        text-align: center !important;
                        margin: 50px;
                    }

                    html,
                    body {
                        background: linear-gradient(#e0e0e0, gray, #f0f0f0);
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    .card {
                        display: flex;
                        width: 500px !important;
                        height: 500px !important;
                        margin: 30px auto !important;
                        padding: 0;
                    }



                    body {
                        font-family: sans-serif !important;
                        margin: 0;
                        padding: 0;
                    }

                    h1 {
                        color: black;
                        font-weight: bold;
                        text-align: center;
                        font-size: 30px;
                        margin-top: 20px;
                    }

                    .container-fluid {
                        width: 100%;
                        max-width: 1200px;
                        margin: 0 auto;
                    }

                    .row {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                    }

                    .card {
                        width: 25%;
                        margin: 10px;
                        border: 0;
                        border-radius: 20px;
                        padding: 10px;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                        background: linear-gradient(to bottom, rgb(64, 64, 238), rgb(243, 33, 33));
                    }

                    .card-title {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    .card-body {
                        padding: 10px;
                        background: rgba(0, 0, 0, 0);
                        margin-top: 50px;
                    }

                    .row input,
                    .row div {
                        display: block !important;
                    }

                    .container-fluid {
                        width: 100% !important;
                    }

                    .contenedor {
                        padding: 50px !important;
                    }

                    .btn-danger {
                        width: 300px;
                        margin: 0 auto;
                        border: 0;
                        border-radius: 10px;
                        padding: 20px;
                        background-color: black;
                        opacity: 1 !important;
                        color: white;
                    }

                    .btn-danger:active {
                        background-color: white !important;
                        color: black !important;
                    }

                    .card-title {
                        font-size: 24px;
                        width: 70%;
                        margin: 0 auto;
                        font-weight: bold;
                        color: white;
                    }

                    .card-text {
                        width: 60%;
                        margin: 20px auto;
                        color: white;
                    }

                    .input-group-text {
                        width: 60%;
                        margin: 20px auto 0;
                        overflow: auto;
                        white-space: normal;
                        border-bottom-left-radius: 0 !important;
                        border-bottom-right-radius: 0% !important;
                        font-weight: bold;
                    }

                    .btn-danger:hover {
                        background-color: white;
                        color: black;
                    }

                    .btn-dark {
                        font-size: 15px;
                        color: white !important
                    }

                    button[class=btn-dark] {
                        font-size: 16px !important;
                    }

                    .boton, a[class="boton menú"]
                    input[type="submit"] {
                        background: black !important;
                        border-radius: 10px !important;
                        border: 0 !important;
                    }

                    .boton:hover, input[type="submit"]:hover, a[class="boton menú"]:hover, span:hover {
                        background: linear-gradient(to bottom, rgb(64, 64, 238), rgb(243, 33, 33)) !important;
                        color: white !important;
                    }

                    .form-control {
                        text-align: center !important;
                    }

                    /* Responsiveness */

                    @media (max-width: 768px) {
                        .row {
                            flex-direction: column;
                        }
                    }

                    @media (max-width: 576px) {
                        .card {
                            width: 100%;
                        }
                    }
                </style>
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>