<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi sitio web de autos</title>
  <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Activa el dark mode-->
  <%- include('../../partials/head') %>

</head>

<body>


  <%- include('../../partials/navigation') %>
    <% if (typeof msg !=='undefined' ) { %>
      <script>
        alert('<%= msg %>');
      </script>
      <% } %>

        <!-- Contenido principal -->
        <div class="container-fluid h-75 " style="background-image: url(/background.jpg); height: calc(100vh); padding: 40px; background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;">
          <form name="myForm" action="/c4/b1/registrar" method="post"
            class="container w-50  mx-auto  justify-content-center p-4  text-center  mx-auto text-light"
            style="background-color: rgba(0, 0, 0, 0.671); ">
            <h1>Datos del automóvil</h1>
            <h5>Ingrese los datos del automóvil a reparar.</h5>
            <br>
            <div class="form-group row ">
              <label for="inputMatricula3" class="col-sm-6 col-xl-4  col-form-label">Matricula</label>
              <div class="col-sm-6 col-xl-8  ">
                <input type="text" name="matricula" class="form-control" id="inputMatricula" placeholder="Matricula">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMarca3" class="col-sm-6 col-xl-4 col-form-label">Marca</label>
              <div class="col-sm-6 col-xl-8">
                <input type="text" name="marca" class="form-control" id="inputMarca" placeholder="Marca">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputMarca3" class="col-sm-6 col-xl-4 col-form-label">Modelo</label>
              <div class="col-sm-6 col-xl-8">
                <input type="text" class="form-control" id="inputModelo" name="modelo" placeholder="Modelo">
              </div>
            </div>

            <div class="form-group row">
              <label for="input" class="col-sm-6 col-xl-4 col-form-label">Codigo de fabrica</label>
              <div class="col-sm-6 col-xl-8">
                <input type="text" class="form-control" id="inputCodF" name="codfabrica" placeholder="Codigo fabrica">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputMarca3" class="col-sm-6 col-xl-4 col-form-label">Numero seguro</label>
              <div class="col-sm-6 col-xl-8">
                <input type="text" class="form-control" id="inputNumSeguro" name="numseguro"
                  placeholder="Numero de seguro">
              </div>
            </div>

            <div class="form-group text-center py-4">
              <div class="col-sm-12 ">
                <input id="registrar" type="submit" class="btn btn-warning mx-2 mt-2" value="Registrar" />
              </div>
            </div>
          </form>
        </div>



        <!-- Footer -->
        <footer class="  py-3" style="background-color: #000000e8;">
          <div class="container">
            <ul class="nav justify-content-center  border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-light ">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
            </ul>
            <p class="text-center text-light">© 2022 Company, Inc</p>
          </div>
        </footer>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</body>

</html>