body {
  background: #e0eeee;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen_div,
#títulos {
  display: flex;
  flex-direction: column;
}

.imagen {
  width: 100px;
  height: 100px;
}
#body {
  background: #e0eeee;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 100px;
  height: 100px;
}

#títulos {
  padding-left: 15px;
}

.título {
  font: 27px 'Helvetica';
  color: #050505;
}

#elemento {

  margin: auto;
  background: rgb(231, 233, 231);
  color: rgb(3, 3, 3);
  font-size: 12px;
  padding: 30px;
  width: 400px;
  border: solid 10px LightSteelBlue;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  font: 15px 'Helvetica';
  color: #050505;
}