<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reclamos para Automóviles 0 KM</title>

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 -->
  <!-- Activa el dark mode-->
  <%- include('../../partials/head') %>
</head>

<body>

  <%- include('../../partials/navigation') %>
    <% if (typeof msg !=='undefined' ) { %>
      <script>
        alert('<%= msg %>');
      </script>
      <% } %>

        <!-- Contenido principal -->
        <div class="container-fluid h-75">
          <h1>Accede a las secciones de reclamos y reparaciones</h1>

          <div class="row justify-content-center">
            <!--BOTON 1-->
            <div class="col-8 col-xl-5 m-4 mt-5">
              <div class="card text-center  text-light" style=" background-color: rgba(0, 0, 0, 0.603);">
                <div class="card-body">
                  <h5 class="card-title">1. Procesar Solicitud Reparación</h5>
                  <p class="card-text">Procesar Solicitud Reparacion de Automóvil 0KM.</p>
                  <a id="continueB1Button" href="/c2/b1/procRep0km" class="btn btn-danger ">Continuar</a>
                </div>
              </div>
            </div>

            <!--BOTON 2-->
            <div class="col-8 col-xl-5 m-4 mt-5">
              <div class="card text-center  text-light" style=" background-color: rgba(0, 0, 0, 0.603);">
                <div class="card-body">
                  <h5 class="card-title">2. Procesar Accesorios</h5>
                  <p class="card-text">Procesar Informe de Accesorios.</p>
                  <form name="myForm" action="/c2/b2/procInfAcces" method="POST">

                    <div class="row row-cols-lg-auto g-3 align-items-center input-group" style="margin: 10px auto">
                      <div class="input-group-text w-50">Ingrese el código de fábrica del automóvil</div>
                      <input type="text" name="codF" class="form-control" id="codFInput"
                        placeholder="Código de Fábrica del Automóvil" style="width:40%">
                    </div>

                    <input id="continueB2Button" type="submit" class="btn btn-danger" style="margin-top:1%"
                      value="Continuar">
                  </form>
                </div>
              </div>
            </div>

            <!--BOTON 3-->
            <div class="col-8 col-xl-5 m-4 mt-5">
              <div class="card text-center  text-light" style=" background-color: rgba(0, 0, 0, 0.603);">
                <div class="card-body">
                  <h5 class="card-title">3. Entregar Automóvil</h5>
                  <p class="card-text">Procesar entrega de Automóvil reparado.</p>




                  <form name="myForm" action="/entregaAutomovil" method="post">
                    <div class="form-group row ">
                      <label for="inputNRep" class="input-group-text">Número de documentacion de
                        reparación</label>
                      <div class="col-sm-6 col-xl-8  ">
                        <input type="text" name="nRep" class="form-control" id="inputNRep"
                          placeholder="Nro de Doc. de Reparación">
                      </div>
                    </div>

                    <div class="form-group text-center py-4">
                      <div class="col-sm-12">
                        <input id="botonNRep" type="submit" class="btn btn-danger" value="Continuar" />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- Bootstrap JS -->
        <!--        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script> -->
        <footer id="footer">
          <p class="footer-text">LPP Concesionario</p>
          <p class="footer-text" ;>&copy; 2023 Todos los derechos reservados</p>
        </footer>
        <style>
          html {
            height: 100% !important;
          }

          body {
            display: flex !important;
            flex-direction: column !important;
            min-height: 100% !important;
          }


          #footer {
            margin-top: auto !important;
            background-color: rgba(33, 37, 41, 1) !important;
            padding: 40px;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            text-align: center;
          }

          .input-group-text {
            width: 300px !important;
            margin: 70px auto 20px auto;
            border: 0;
            border-radius: 5px !important;
            background-color: #e0e0e0;
          }

          input[type="text"] {
            margin-top: -5px !important;
            display: block;
            width: 300px !important;
            margin: 0 auto 30px !important;
            border: 0;
            border-radius: 5px !important;
            border-top-left-radius: 0% !important;
            border-top-right-radius: 0% !important;
            text-align: center !important;
          }

          .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 200px;
            /* Ajusta la altura mínima según sea necesario */
          }

          .navbar {
            z-index: 100;
          }

          .card.text-center.text-light {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            min-height: 200px !important;
            /* Ajusta la altura mínima según sea necesario */
          }

          #principal-description {
            text-align: center !important;
            margin: 50px;
          }

          html,
          body {
            background: linear-gradient(#e0e0e0, gray, #f0f0f0);
            margin: 0 !important;
            padding: 0 !important;
          }

          .card {
            display: flex;
            width: 500px !important;
            height: 500px !important;
            margin: 30px auto !important;
            padding: 0;
          }



          body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
          }

          h1 {
            color: black;
            font-weight: bold;
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
          }

          .container-fluid {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
          }

          .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }

          .card {
            width: 25%;
            margin: 10px;
            border: 0;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            background: linear-gradient(to bottom, rgb(64, 64, 238), rgb(243, 33, 33));
          }

          .card-title {
            font-size: 18px;
            margin-bottom: 10px;
          }

          .card-body {
            padding: 10px;
            background: rgba(0, 0, 0, 0);
            margin-top: 50px;
          }

          .row input,
          .row div {
            display: block !important;
          }

          .container-fluid {
            width: 100% !important;
          }

          .btn-danger {
            width: 300px;
            margin: 0 auto;
            border: 0;
            border-radius: 10px;
            padding: 20px;
            background-color: black;
            color: white;
          }

          .btn-danger:active {
            background-color: white !important;
            color: black !important;
          }


          .card-title {
            font-size: 24px;
            width: 70%;
            margin: 0 auto;
            font-weight: bold;
            color: white;
          }

          .card-text {
            width: 60%;
            margin: 20px auto;
            color: white;
          }

          .input-group-text {
            width: 60%;
            margin: 20px auto 0;
            overflow: auto;
            white-space: normal;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0% !important;
            font-weight: bold;
          }

          .btn-danger:hover {
            background-color: white;
            color: black;
          }

          .btn-dark {
            font-size: 15px;
            color: white !important
          }

          button[class=btn-dark] {
            font-size: 16px !important;
          }

          /* Responsiveness */

          @media (max-width: 768px) {
            .row {
              flex-direction: column;
            }
          }

          @media (max-width: 576px) {
            .card {
              width: 100%;
            }
          }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>