<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LLP</title>
  <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Activa el dark mode-->
  <%- include('../../partials/head') %>
</head>

<body>

  <%- include('../../partials/navigation') %>
    <style>
      @media (min-width: 1000px) {
        .container {
          width: 80%;

        }
      }
    </style>
    <!-- Contenido principal -->
    <div class="container-fluid  h-75" style="background-image: url(/background.jpg); height: calc(100vh); padding: 40px; background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;">




      <div class="row container mx-auto   pt-4 my-4 " style=" background-color: rgba(0, 0, 0, 0.603);"
        style="width: 60%;">
        <% if (typeof codF !=='undefined' ) {%>
          <div class="col-12 col-xl-12">
            <h3 class="text-center text-light">Accesorios registrados en la consesionaria LPP del automovil ingresado
            </h3>
            <div class="caja w-95  border border-light" style="height: 400px;">
              <% if (accesorios.length>0) {%>
                <ol>
                  <% for(let i=0; i<accesorios.length; i++) {%>
                    <li>
                      <%= accesorios[i] %>
                    </li>
                    <% } %>
                </ol>
                <% } else{ %>
                  <h4>El automovil ingresado no tiene accesorios registrados en la concesionaria</h4>
                  <% } %>
            </div>
          </div>
          <% } %>

            <h5>*Recuerde que el automovil ingresado debe tener todos sus accesorios registrados en la concesionaria
              para poder acceder a las reparaciones dentro de la garantía*
            </h5>
            <h6>*Al presionar "Seleccionar Reparaciones" confirma haber comprobado que el automovil ingresado tiene
              todos sus accesorios registrados en la concesionaria</h6>

            <div class="col-12 py-3">
              <form name="myForm" action="/c2/b2/selecRep" method="">
                <input name="btnSelecRep" id="continueB2Button" type="submit" class="btn btn-success col-6"
                  style="margin-top:1%" value="Selecionar Reparaciones">
              </form>
            </div>

            <div class="col-12 py-3">
              <form name="myForm" action="/c2/b2/anular" method="GET">
                <input name="btnSelecRep" id="continueB2Button" type="submit" class="btn btn-danger col-6"
                  style="margin-top:1%" value="El automovil no tiene sus accesorios registrados">
              </form>
            </div>

      </div>


    </div>



    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>