<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi sitio web de autos</title>
  <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000e8;">
    <a class="navbar-brand" href="#"><img src="/icon.png" alt="" srcset="" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>

<style>
  @media only screen and (min-width: 360px) and (max-width: 768px) {

  .containerFactura{
    width: 95%;
   
  }
}
@media only screen and (min-width: 800px) and (max-width: 2000px) {

.containerFactura{
  width: 65%;
 
}
}
    .containerFactura{
        background-color: aliceblue;
        color: black;
        padding: 10px 20px;
       
    }
    .containerFactura .row{
      border: #202020e8 1px solid;
       
    }
    .containerFactura .col{
      border: #202020e8 1px solid;
       
    }
    .row .col-1 h5{
        writing-mode: vertical-rl;
  text-orientation: upright;
  border: #000000e8 1px solid;
        padding: 10px;
    }
   
</style>

 <!-- Contenido principal -->
 <div class="container-fluid h-100" style="background-image: url(/background.jpg); height: calc(100vh); padding: 40px; background-attachment: scroll;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;">
 
<div class="containerFactura  mx-auto"  >
    
    <div class="row align-items-center  h-100 ">

        <div class="col-5 p-1 m-0   col-xl-2  " >
        <img src="/icon.png"  alt="logo" height="100px">
      </div>
      
      <div class="col-7 col-xl-5  d-flex justify-content-center flex-column   align-items-center" >
        
        <Strong class="text-center ">
            LPP consecionaria de autos
        </Strong>
        <div class="btn btn-primary p-1 mt-2">Imprimir</div>
      </div>

       <div class="col-xl-5 align-items-center  d-flex flex-column  m-0">
       
        <div class="col-xl-12  d-flex p-0 m-0 mt-xl-2 mt-xl-0" >
            <div class="col p-1 m-0  border border-dark">  <p>Factura :</p><hr class="w-100 m-0 bg-dark"> <p>NO</p>
            </div>
            <div class="col p-1 m-0 border border-dark">  <p >Refiere auto:</p><hr class="m-0 bg-dark"> <p>NO</p>
            </div>
        </div>
            
            <div class="col-12 col-xl-6 d-flex m-2 justify-content-center p-0 " style="height: 50px;">
                <div class="col border border-dark" style="height: 30px;">FECHA</div>
                <div class="col border border-dark" style="height: 30px;">.</div>
                <div class="col border border-dark" style="height: 30px;">.</div>
                <div class="col border border-dark" style="height: 30px;">.</div>
               </div> 
           
     </div>
      
   
    </div>
    
    <div class="row">
        <div class="col-12 border border-dark text-center"> <strong>Datos del agregado</strong></div>
      <div class="col-11  col-xl-11 py-2 ">
        <strong>Monto total: $ <span>_ _ _ _ _ _</span></strong>
        <p>Son: <span>_ _ _ _ _ _ __ _ _ _ _ _ _</span></p>
        <strong>Fecha de emision del presupuesto: <span>_ _ _ _ _ _</span></strong>

      </div>
      <div class="col-1 border border-dark p-0 m-0 text-center"> <strong  style=" writing-mode: vertical-rl;
        text-orientation: upright;">GENERAL</strong></div>
    </div>
   

    
      

    <div class="row">
        <div class="col py-2">
            <p>El presupuesto del accesorio numero <span>_ _ _ _</span> contempla un total de tipos de accesorios nuevos selecionados para agregar.</p>
            <p>Estos seran agregados al automovil <br><strong>MARCA :</strong> <span>_ _ _ _ </span><br> <strong>MODELO: </strong> <span>_ _ _ _ _ _</span><br> <strong>MATRICULA:</strong><span>_ _ _ _ _ _ _</span>.</p>
            <p>Dicho automovil esta al nombre de <span>_ _ _ _ _ _ _</span> (Documento: <span>_ _ _ _ _ _ _ _</span>).</p>
            <p>El agregado se iniciara en automovil con los acesorios agregados es de 15 (quince) dias luego de la aceptacion de este presupuesto.</p>
        </div>
    </div>
   


    <div class="row ">
      <h5 class="col-12 justify-content-center py-2 m-0 border border-dark text-center  ">DETALLE DE FACTURA</h5>
      
      <div class="col-12  p-0 m-0">
        <div class="row p-0 m-0 text-center  ">
          <div class="col-2 col-xl-2 p-0 m-0   "> <div class="col text-center p-0 m-0  "><p  >ACCES.</p></div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div></div>
          <div class="col-2 col-xl-2 p-0 m-0   "> <div class="col text-center p-0 m-0  "><p  >PREC</p></div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div></div>
          <div class="col-2 col-xl-2 p-0 m-0   "> <div class="col text-center p-0 m-0  "><p  >CANT</p></div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div></div>
         <div class="col-2 col-xl-2  p-0 m-0  "><div class="col text-center p-0 m-0"><p  >ACCES.</p></div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div></div>
          <div class="col-2 col-xl-2 p-0 m-0  "><div class="col text-center p-0 m-0"><p  >PREC</p></div>
            <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div>
          <div class="col  ">-</div></div>
          <div class="col-2  col-xl-2 p-0 m-0 "><div class="col text-center p-0 m-0"><p  >CANT</p></div>
            <div class="col  ">-</div>
            <div class="col  ">-</div>
            <div class="col  ">-</div>
            <div class="col  ">-</div>
            <div class="col  ">-</div>
            <div class="col  ">-</div></div>
         </div>
      </div>
    </div>

  
</div>

</div>
  
<!-- Footer -->
<footer class="  py-3" style="background-color: #000000e8;">
  <div class="container">
    <ul class="nav justify-content-center  border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light ">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
    </ul>
    <p class="text-center text-light">© 2022 Company, Inc</p>
  </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>