<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>L.P.P Concesionario</title>
    <link rel="stylesheet" type="text/css" href="abm_menu.css">
</head>

<body>
    <div class="max-container">
        <div id="header">
            <img src="/images/logo.png" class="logo">
            <h1 id="title">Menú de Gestión - ABM</h1>
        </div>
        <div id="espaciado"></div>
        <div class="container">
            <div class="section">
                <p>Autos Disp. 0km</p>
                <form action="/agregar-auto-0km" method="GET">
                    <button type="submit">Agregar</button>
                </form>
                <form action="/modificar-auto-0km" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-auto-0km" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Accesorios</p>
                <form action="/agregar-accesorio" method="GET">
                    <button type="submit">Agregar</button>
                </form>
                <form action="/modificar-accesorio" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-accesorio" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Usuarios</p>
                <form action="/agregar-usuario" method="GET">
                    <button type="submit">Agregar</button>
                </form>
                <form action="/modificar-usuario" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-usuario" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Reparaciones</p>
                <form action="/agregar-reparacion" method="GET">
                    <button type="submit">Agregar</button>
                </form>
                <form action="/modificar-reparacion" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-reparacion" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Autos Usados</p>
                <form action="/modificar-auto-usado" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-auto-usado" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Clientes</p>
                <form action="/modificar-cliente" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-cliente" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Personas</p>
                <form action="/modificar-persona" method="GET">
                    <button type="submit">Modificar</button>
                </form>
                <form action="/borrar-persona" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Morosos</p>
                <form action="/borrar-moroso" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
            <div class="section">
                <p>Porcentajes</p>
                <form action="/modificar-porcentaje" method="GET">
                    <button type="submit">Modificar</button>
                </form>
            </div>
            <div class="section">
                <p>Propietarios</p>
                <form action="/borrar-propietario" method="GET">
                    <button type="submit">Borrar</button>
                </form>
            </div>
        </div>
        <div class="container volver">
            <form action="/menu" method="GET">
                <button type="submit" class="volver">Regresar</button>
            </form>
        </div>
        <div id="espaciado"></div>
    </div>
    <footer id="footer">
        <p class="footer-text">LPP Concesionario</p>
        <p class="footer-text">&copy 2023 Todos los derechos reservados</p>
    </footer>
</body>

</html>