<!DOCTYPE html>
<html>

<head>
    <title>L.P.P Concesionario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="agregar_reparacion.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div id="header">
            <img src="./images/logo.png" class="logo">
            <h1 id="title">Agregar Reparación Disponible - ABM</h1>
        </div>
        <div id="espaciado"></div>
        <div class="margin">
            <form id="survey-form" required>
                <p id="principal-description">Agrega una reparación disponible para tus autos</p>
                <p id="description">Reparación a agregar</p>
                <label for="nombre" id="nombre-label">Nombre Rep.</label>
                <input type="text" id="nombre" placeholder="Nombre de la Reparación">
                <label for="precio" id="precio-label">Precio Unitario</label>
                <input type="number" id="precio" placeholder="Precio de la Reparación">
                <label for="detalle" id="detalle-label">Detalle<label>
                        <textarea id="detalle" placeholder="Escriba aquí el detalle"></textarea>
                        <button type="submit" class="submit">Agregar Reparación</button>
                        <button type="button" class="submit" id="regresarBtn">Regresar</button>
            </form>
        </div>
    </div>
    <footer id="footer">
        <p class="copyright">LPP Concesionario</p>
        <p class="copyright">&copy 2023 Todos los derechos reservados</p>
    </footer>
    <script>
        const regresarBtn = document.getElementById('regresarBtn');

        regresarBtn.addEventListener('click', () => {
            window.location.href = '/abm_menu';
        });

        const form = document.getElementById('survey-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const precio = document.getElementById('precio').value;
            const detalle = document.getElementById('detalle').value;

            if (nombre.trim() === '' || precio.trim() === '' || detalle.trim() === '') {
                alert('Por favor, completa todos los campos.');
                return;
            }

            const data = {
                nombre: nombre,
                precio: precio,
                detalle: detalle
            };

            try {
                const response = await fetch('/agregar-reparacion', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const message = 'Reparación cargada:' +
                        '\nNombre: ' + nombre +
                        '\nPrecio: ' + "$" + precio +
                        '\nDetalle: ' + detalle;

                    alert('Reparación agregada exitosamente.' + '\n\n' + message);
                    form.reset();
                } else {
                    alert('Hubo un error al agregar la reparación. Por favor, inténtalo nuevamente.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Hubo un error al agregar la reparación. Por favor, inténtalo nuevamente.');
            }
        });
    </script>
</body>


</html>