<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Concesionaria LPP Main Menu
    </title>
    <link rel="stylesheet" href="/css/mainMenu.css">

    <%- include('partials/head') %>
</head>

<body id="gradientBG">
    <%- include('partials/navigation') %>

        <!--Main Content-->
        <header class="container vh-50 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="display-1 my-5 text-uppercase fw-bold">Concesionaria LPP</h1>
                <img src="/img/logoLPP.png" alt="logoLPP" class="w-25 logoLPP">
                <a href="/about" class="btn btn-primary w-25" style="margin-bottom:1%">Acerca de Concesionaria LPP</a>
            </div>
        </header>

        <!--Acordeon: https://getbootstrap.com/docs/5.3/components/accordion/-->
        <div id="compras" class="componenteMenu">
            <div class="d-flex align-items-center component-div">
                <h1>COMPRAS DE AUTOMÓVILES</h1>
                <div class="accordion vh-80 w-75" id="accordionPanelsStayOpenExample" data-bs-theme="dark">
                    <div class="accordion-item ">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                COMPRA DE AUTOMÓVILES 0 KILÓMETROS
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body ">
                                <strong>Compra de Automóvil 0KM.</strong> Corresponde al circuito 1 del
                                sistema. Redirige al menú de compra de autos
                                0km que permite:
                                procesar solicitud de compra de automóvil 0km, procesar aceptación de orden de compra,
                                procesar pago de seña (recibo),
                                procesar pedido en proceso (registro de doc. de fabricación), procesar recepción de auto
                                0km, procesar plan de pago, procesar órden de retiro y procesar confección de seguro.
                            </div>
                            <a href="/c1" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al
                                menú de Compra
                                de
                                Automóvil
                                0KM</a>
                        </div>

                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                COBRO DE CUOTAS
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Cobro de Cuotas.</strong> Corresponde al circuito 9 del sistema. Redirige al
                                menu del cobro de cuotas que permite procesar la administración de cuotas y procesar la
                                recepción de pago de una cuota.
                            </div>
                            <a href="/c9" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de Cobro de
                                Cuotas</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                COMPRA DE AUTOMÓVILES USADOS
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Compra de Automóviles Usados</strong> Corresponde al circuito 6&7 del sistema.
                                Redigire al menú de ventas de automóviles de autos usados, que permite:
                                procesar solicitud de compra de auto usado, procesar confirmación de compra, procesar
                                recepción de pago del automóvil usado, procesar solicitud de retiro de auto usado
                                vendido, procesar retiro de automóvil usado vendido, procesar pago al ex propietario.
                            </div>
                            <a href="/c6" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de Compra
                                de Automóviles Usados</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="posventa" class="componenteMenu">
            <div class="d-flex align-items-center component-div">
                <div class="accordion vh-80 w-75" id="accordionPanelsStayOpenExample" data-bs-theme="dark">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                RECLAMO PARA REPARACIÓN DE AUTOMÓVIL 0KM
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                            <div class="accordion-body ">
                                <strong>Reclamos para Automóviles 0KM.</strong> Corresponde al circuito 2 del
                                sistema. Redirige al menú de reclamos para automóviles 0 km, que permite: procesar
                                solicitud de reparación de automóvil 0km, procesar informe de accesorios y procesar
                                entrega de automóvil reparado.
                            </div>
                            <a href="/c2" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de Reclamo
                                para reparación de automóvil 0km</a>
                        </div>

                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseFive">
                                VENTA DE ACCESORIOS
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Venta de Accesorios.</strong> Corresponde al circuito 3 del sistema. Redirige al
                                menu de venta de accesorios, que permite: procesar solicitud de agregado de accesorio,
                                procesar aceptación del presupeusto, procesar cobro de la instalación y procesar entrega
                                del automóvil.
                            </div>
                            <a href="/c3" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de Venta de
                                Accesorios</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSix">
                                REPARACIONES FUERA DE GARANTÍA
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Reparaciones fuera de Garantía</strong> Corresponde al circuito 4 del sistema.
                                Redigire al menú de reparaciones fuera de garantía, que permite: procesar solicitud de
                                reparación para automóvil fuera de garantía, procesar informe de reparaciones, procesar
                                aceptación del presupuesto de reparación, procesar recepción del pago, procesar retiro
                                del automóvil reparado.
                            </div>
                            <a href="/c4" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de
                                Reparaciones fuera de garantía</a>
                        </div>
                    </div>
                </div>
                <h1 style="float:right; margin: 2% 2% 2% 10%">SERVICIOS DE POSVENTA</h1>
            </div>

        </div>
        <div id="contratos" class="componenteMenu">
            <div class="d-flex align-items-center component-div">
                <h1>CONTRATACIONES DE AUTOMÓVILES USADOS</h1>
                <div class="accordion vh-80 w-75" id="accordionPanelsStayOpenExample" data-bs-theme="dark">
                    <div class="accordion-item ">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseSeven">
                                CONTRATACIÓN DE AUTOS USADOS
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                            <div class="accordion-body ">
                                <strong>Contratación de Autos Usados.</strong> Corresponde al circuito 5 del
                                sistema. Redirige al menú de contrataciones de autos usados, que permite: procesar
                                solicitud de contrato, procesar registro de contrato, procesar contrato firmado
                            </div>
                            <a href="/c5" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de
                                Contratación de Autos Usados</a>
                        </div>

                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseEight">
                                CIERRE DE CONTRATOS NO EXITOSO
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Cierre de Contratos no Exitoso.</strong> Corresponde al circuito 8 del sistema.
                                Redirige al
                                menu de cierre de contratos no exitosos, que permite: procesar informes de vigencia,
                                procesar retiro de automóvil usado, procesar entrega del automóvil usado sin vender.
                            </div>
                            <a href="/c8" class="btn btn-warning btn-lg btn-block boton-acordeon">Ir al menú de Cierre
                                de Contratos No Exitosos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="abm" class="d-flex justify-content-center align-items-center" data-bs-theme="dark">
            <div class="card">
                <h1 class="card-header"><strong>SECCIÓN DE ABM</strong></h1>
                <div class="card-body" style="background-color:white;color:black;">
                    <h5 class="card-title">ALTAS, BAJAS Y MODIFICACIONES</h5>
                    <p class="card-text">La sección de ABM permite realizar cambios a los datos registrados en forma
                        asincrónica e independiente a los circuitos principales.</p>
                    <div style="text-align:center">
                        <a href="/abm_menu" class="btn btn-primary">Ir al menú principal del ABM</a>

                    </div>
                </div>
            </div>
        </div>


        <%- include('partials/footer') %>
            <style>
                .navbar {
                    z-index: 100 !important;
                }

                footer {
                    padding: 20px !important;
                    margin-top: 40px !important;
                }

                .accordion-button collapsed {
                    z-index: 1 !important;
                }

                #footer {
                    background-color: rgba(33, 37, 41, 1) !important;
                    padding: 50px !important;
                    text-align: center;
                    font-family: sans-serif !important;
                    clear: both !important;
                    /* Limpia ambos lados, asegurando que el footer esté debajo de otros elementos */
                    text-align: center !important;
                    /* Centra el contenido del footer */
                    /* Agrega espacio alrededor del contenido del footer */
                    background-color: rgba(33, 37, 41, 1);
                    color: white;
                    position: relative !important;
                }


                table[id="tabla-original"] {
                    border: solid black 5px !important;
                    border-radius: 10px !important;
                    width: 450px !important;
                }

                .navbar {
                    z-index: 100;
                }

                .add-button {
                    border: 0;
                    border-radius: 5px;
                    margin: 5px;
                }

                .side-section {
                    margin-top: 50px !important;
                }


                table {
                    margin-top: 20px !important;
                    margin: 0 auto !important;
                }


                #principal-description {
                    color: white !important;
                    text-align: center !important;
                    margin: 20px;
                    font-family: sans-serif !important;
                }

                label,
                #description {
                    color: white !important;
                    font-family: sans-serif !important;
                }


                html {
                    width: 100% !important;
                }

                body {
                    font-family: sans-serif !important;
                    background: linear-gradient(#e0e0e0, gray, #f0f0f0);
                    margin: 0 !important;
                    padding: 0 !important;
                    position: relative !important;
                }


                .container-fluid {
                    width: 100%;
                    max-width: 1200px;
                    margin: 0 auto;
                }

                .container-fluid {
                    width: 100% !important;
                }


                .btn-danger,
                #submit {
                    width: 300px;
                    margin: 30px auto;
                    border: 0;
                    border-radius: 10px;
                    padding: 20px;
                    opacity: 1 !important;
                    background-color: black !important;
                    color: white;
                    font-size: 18px;
                    text-decoration: none !important;
                }

                .payment-methods {
                    margin-bottom: 20px;
                }

                .btn-danger:hover,
                #submit:hover {
                    transition: none;
                    transform: none;
                    padding: 20px !important;
                    background-color: white !important;
                    color: black !important;
                }

                .btn-danger:active {
                    background-color: white !important;
                    color: black !important;
                }

                .btn-dark {
                    font-size: 15px !important;
                    color: white !important
                }

                button[class=btn-dark] {
                    background-color: black !important;
                    font-size: 16px !important;
                }

                /* Responsiveness */

                .bg-pan-left {
                    -webkit-animation: bg-pan-left 8s both;
                    animation: bg-pan-left 8s both
                }

                body {
                    font-family: sans-serif !important;
                }

                /* ----------------------------------------------
 * Generated by Animista on 2023-9-8 19:42:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

                @-webkit-keyframes bg-pan-left {
                    0% {
                        background-position: 100% 50%
                    }

                    100% {
                        background-position: 0 50%
                    }
                }

                @keyframes bg-pan-left {
                    0% {
                        background-position: 100% 50%
                    }

                    100% {
                        background-position: 0 50%
                    }
                }

                @media (max-width: 576px) {
                    .survey-form {
                        width: 100%;
                    }
                }
            </style>
</body>

</html>