<!--Bootstrap navigation component-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" position: fixed; width:100%; margin-bottom: 50px">
    <div id="" class="container-fluid">
        <img src="/img/logo.png" id="logoLPP">
        <a class="navbar-brand" href="/menu">Concesionaria LPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <!--Compras de Automoviles-->
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Compras de Automóviles
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/c1">Compra de Automóvil 0KM</a></li>
                        <li><a class="dropdown-item" href="/c9">Cobro de Cuotas</a></li>
                        <li><a class="dropdown-item" href="/c6">Compra de Automóviles Usados</a></li>
                    </ul>
                </li>
                <!--Posventa-->
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicio de Posventa
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/c2">Reclamo para Reparación de Automóvil 0KM</a></li>
                        <li><a class="dropdown-item" href="/c3">Venta de Accesorios</a></li>
                        <li><a class="dropdown-item" href="/c4">Reparaciones Fuera de Garantía</a></li>
                    </ul>
                </li>
                <!--Contrataciones-->
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Contrataciones de Automóviles Usados
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/c5">Contratación de Autos Usados</a></li>
                        <li><a class="dropdown-item" href="/c8">Cierre de Contratos No Exitoso</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <form action="/logout" method="GET">
            <button type="submit" class="btn btn-dark" style="float:right">
                Cerrar Sesión
            </button>
        </form>
    </div>
</nav>
<br>
<br>
<br>
<br>

<style>
    #header {
        top: 0;
        text-align: center;
        position: fixed;
        z-index: 100;
        background-color: rgb(77, 77, 77);
        color: white;
        padding: 25px;
        right: 0;
        left: 0;
    }

    #logoLPP {
        font-size: 0.5em;
        width: 5%;
        border: 0;
    }
</style>