<div class="overlay" id="overlay">
    <div class="popup">
        <h2>
            <%= message%>:
        </h2>
        <input type="text" id="textInput">
        <br><br>
        <button id="submitBtn">Aceptar</button>
        <button id="cancelBtn">Cancelar</button>
    </div>
</div>

<script src="js.js"></script>