<!DOCTYPE html>
<html>

<head>
    <title>L.P.P Concesionario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/c1/regAuto0km.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div id="header">
            <img src="logo.png" class="logo">
            <h1 id="title">Solicitud de Compra - Auto 0KM</h1>
        </div>
        <div id="espaciado"></div>
        <div class="margin">
            <form id="survey-form" required>
                <p id="principal-description">Registra en el sistema un Auto 0KM:</p>
                <p id="description">Auto a registrar</p>
                <label for="modelo-label" id="modelo-label">Modelo</label>
                <input type="text" id="modelo" placeholder="Modelo del Auto">
                <div class="part1">
                    <label for="marca-label" id="marca-label">Marca</label>
                    <input type="text" id="marca" placeholder="Marca del Auto">
                    <label for="matricula-label" id="matricula-label">Matricula</label>
                    <input type="text" id="matricula" placeholder="Matricula del Auto">
                    <label for="uso-label" id="uso-label">Uso</label>
                    <input type="text" id="uso" placeholder="Uso del Auto">
                    <label for="chasis-label" id="chasis-label">Chasis</label>
                    <input type="text" id="chasis" placeholder="Chasis del Auto">
                    <label for="motor-label" id="motor-label">Motor</label>
                    <input type="text" id="motor" placeholder="Motor del Auto">
                    <label for="num-fabricacion-label" id="num-fabricacion-label">Nro de Doc de Fabric.</label>
                    <input type="text" id="num-fabricacion" placeholder="Nro de Doc. de Fabric">
                    <label for="anio-fabricacion-label" id="anio-fabricacion-label">Año de Fabricación</label>
                    <input type="number" id="anio-fabricacion" placeholder="Año de Fabricación">
                </div>
                <div class="part2">
                    <label for="fecha-vencimiento-label" id="fecha-vencimiento-label">Fecha de Vencimiento</label>
                    <input type="date" id="fecha-vencimiento" placeholder="Fecha de Vencimiento">
                    <label for="titular-label" id="titular-label">Titular</label>
                    <input type="text" id="titular" placeholder="Titular del Auto">
                    <label for="tipo-doc-label" id="tipo-doc-label">Tipo de Doc. Titular</label>
                    <input type="text" id="tipo-doc" placeholder="Tipo de Doc. Titular">
                    <label for="doc-titular-label" id="doc-titular-label">Nro. de Doc Titular</label>
                    <input type="number" id="doc-titular" placeholder="Nro. de Doc Titular">
                    <label for="domicilio-label" id="domicilio-label">Domicilio Titular</label>
                    <input type="text" id="domicilio" placeholder="Domicilio del Titular">
                    <label for="color-label" id="color-label">Color</label>
                    <input type="text" id="color" placeholder="Color del Auto">
                    <label for="cod-fabrica-label" id="cod-fabrica-label">Código de Fábrica</label>
                    <input type="text" id="cod-fabrica" placeholder="Código de Fábrica">
                </div>
                <div class="part3">
                    <a class="submit" href="../Menu/index.html">Regresar</a>
                    <a class="submit" href="">Registrar Documentación del Auto 0KM</a>
                </div>
            </form>
        </div>
    </div>
</body>
<footer id="footer">
    <p class="copyright">LPP Concesionario</p>
    <p class="copyright">&copy 2023 Todos los derechos reservados</p>
</footer>

</html>