<!DOCTYPE html>
<html>

<head>
    <title>L.P.P Concesionario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/c1/regAuto0km.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Activa el dark mode-->
    <%- include('../../partials/head') %>
</head>

<body>


    <%- include('../../partials/navigation') %>
        <% if (typeof msg !=='undefined' ) { %>
            <script>
                alert('<%= msg %>');
            </script>
            <% } %>

                <div class="container">

                    <div id="espaciado"></div>
                    <div class="margin">
                        <form id="survey-form" name="myForm" action="/c1/b5/regDoc" method="POST" required>
                            <p id="principal-description">Registra en el sistema un Auto 0KM:</p>
                            <p id="description">Auto a registrar</p>
                            <label for="modelo-label" id="modelo-label">Modelo</label>
                            <input type="text" id="modelo" name="modelo" placeholder="Modelo del Auto">
                            <div class="part1">
                                <label for="marca-label" id="marca-label">Marca</label>
                                <input type="text" name="marca" id="marca" placeholder="Marca del Auto">
                                <label for="matricula-label" id="matricula-label">Matricula</label>
                                <input type="text" id="matricula" name="matricula" placeholder="Matricula del Auto">
                                <label for="uso-label" id="uso-label">Uso</label>
                                <input type="text" id="uso" name="uso" placeholder="Uso del Auto">
                                <label for="chasis-label" id="chasis-label">Chasis</label>
                                <input type="text" id="chasis" name="chasis" placeholder="Chasis del Auto">
                                <label for="motor-label" id="motor-label">Motor</label>
                                <input type="text" id="motor" name="motor" placeholder="Motor del Auto">
                                <label for="num-fabricacion-label" id="num-fabricacion-label">Nro de Doc de
                                    Fabric.</label>
                                <input type="text" id="num-fabricacion" name="nroDocF"
                                    placeholder="Nro de Doc. de Fabric">
                                <label for="anio-fabricacion-label" id="anio-fabricacion-label">Año de
                                    Fabricación</label>
                                <input type="number" id="anio-fabricacion" name="yearF"
                                    placeholder="Año de Fabricación">
                            </div>
                            <div class="part2">
                                <label for="fecha-vencimiento-label" id="fecha-vencimiento-label">Fecha de
                                    Vencimiento</label>
                                <input type="date" id="fecha-vencimiento" name="fvto"
                                    placeholder="Fecha de Vencimiento">
                                <label for="titular-label" id="titular-label">Titular</label>
                                <input type="text" id="titular" name="titular" placeholder="Titular del Auto">
                                <label for="tipo-doc-label" id="tipo-doc-label">Tipo de Doc. Titular</label>
                                <input type="text" id="tipo-doc" name="tdoc" placeholder="Tipo de Doc. Titular">
                                <label for="doc-titular-label" id="doc-titular-label">Nro. de Doc Titular</label>
                                <input type="number" id="doc-titular" name="ndoc" placeholder="Nro. de Doc Titular">
                                <label for="domicilio-label" id="domicilio-label">Domicilio Titular</label>
                                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio del Titular">
                                <label for="color-label" id="color-label">Color</label>
                                <input type="text" id="color" name="color" placeholder="Color del Auto">
                                <label for="cod-fabrica-label" id="cod-fabrica-label">Código de Fábrica</label>
                                <input type="text" id="cod-fabrica" name="codF" placeholder="Código de Fábrica">
                            </div>
                            <div class="part3">
                                <input id="continueB2Button" type="submit" class="btm btn-danger" style="margin-top:1%"
                                    value="Registrar Documentación del Auto 0KM">
                                <a class="btn btn-danger" href="/c1">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>

                <footer id="footer">
                    <p class="footer-text">LPP Concesionario</p>
                    <p class="footer-text">&copy; 2023 Todos los derechos reservados</p>
                </footer>
                <style>
                    html {
                        height: 100% !important;
                    }

                    body {
                        display: flex !important;
                        flex-direction: column !important;
                        min-height: 100% !important;

                    }

                    .container {
                        margin-top: -40px !important;
                    }

                    #footer {
                        background-color: rgba(33, 37, 41, 1) !important;
                        padding: 40px auto !important;
                        text-align: center;
                        font-family: sans-serif !important;
                        text-align: center !important;
                        background-color: rgba(33, 37, 41, 1);
                        color: white;
                        margin-top: auto !important;
                    }

                    #survey-form {
                        display: block !important;
                        margin: 50px auto 70px !important;
                        font-family: sans-serif !important;
                        color: white !important;
                        background: linear-gradient(rgb(0, 0, 0), rgb(243, 33, 33)) !important;
                        opacity: 1 !important;
                        border-radius: 20px;
                        border: 0;
                        height: 100% !important;

                    }


                    input[type="text"],
                    input[type="email"],
                    input[type="date"],
                    input[type="number"] {
                        margin-top: -5px !important;
                        display: block;
                        width: 200px !important;
                        margin: 0 auto 30px !important;
                        border: 0;
                        height: 25px;
                        border-radius: 5px !important;
                        text-align: center !important;
                    }

                    select[id="tipo-documento"] {
                        width: 200px !important;
                        margin-top: -5px !important;
                        display: block;
                        margin: 0 auto 30px !important;
                        border: 0;
                        height: 25px;
                        border-radius: 5px !important;
                        text-align: center !important;
                    }


                    .navbar {
                        z-index: 100;
                    }

                    #principal-description {
                        color: white !important;
                        text-align: center !important;
                        margin: 20px;
                        font-family: sans-serif !important;
                    }

                    label,
                    #description {
                        color: white !important;
                        font-family: sans-serif !important;
                        font-weight: normal;
                    }


                    html {
                        width: 100% !important;
                    }

                    body {
                        font-family: sans-serif !important;
                        background: linear-gradient(#e0e0e0, gray, #f0f0f0);
                        margin: 0 !important;
                        padding: 0 !important;
                        position: relative !important;
                    }

                    h1 {
                        color: black;
                        font-weight: bold;
                        text-align: center;
                        font-size: 30px;
                        margin-top: 20px;
                        font-family: sans-serif !important;
                    }

                    .container-fluid {
                        width: 100%;
                        max-width: 1200px;
                        margin: 0 auto;
                    }

                    .container {
                        margin-top: -80px !important;
                    }

                    .container-fluid {
                        width: 100% !important;
                    }

                    .submit,
                    .btn-danger {
                        width: auto !important;
                        margin: 0 auto !important;
                        border: 0 !important;
                        border-radius: 10px !important;
                        padding: 20px !important;
                        opacity: 1 !important;
                        background-color: black !important;
                        color: white !important;
                        font-weight: normal !important;
                    }

                    .submit {
                        margin: 5px !important;
                    }

                    .submit:hover,
                    .btn-danger:hover {
                        background-color: white !important;
                        color: black !important;
                    }

                    .btn-danger,
                    .submit {
                        transition: none;
                    }

                    a {
                        font-family: sans-serif !important;
                    }

                    .submit:active,
                    .btn-danger:active {
                        background-color: white !important;
                        color: black !important;
                    }

                    .btn-dark {
                        font-size: 15px !important;
                        color: white !important
                    }

                    button[class=btn-dark] {
                        background-color: black !important;
                        font-size: 16px !important;
                        color: white !important;
                    }

                    /* Responsiveness */
                </style>
                <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

                <!-- Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
</body>

</html>