<!DOCTYPE html>
<html>

<head>
    <title>L.P.P Concesionario</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/c1/regDocF.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div id="header">
            <img src="logo.png" class="logo">
            <h1 id="title">Solicitud de Compra - Auto 0KM </h1>
        </div>
        <div id="espaciado"></div>
        <div class="margin">
            <form id="survey-form" required>
                <p id="principal-description">Registra la documentación de fabricación del auto:</p>
                <p id="description">Fechas</p>
                <label for="orden-compra-label" id="orden-compra-label">Número de Orden de Compra</label>
                <input type="text" id="orden-compra" placeholder="Nro de Orden de Compra" required>
                <label for="fecha-emision-label" id="fecha-emision-label">Fecha de Emisión</label>
                <input type="date" id="fecha-emision" placeholder="Fecha de Emisión" required>
                <label for="fecha-entrega-label" id="fecha-entrega-label">Fecha de Entrega</label>
                <input type="date" id="fecha-entrega" placeholder="Fecha de Entrega" required>
                <a id="submit" href="../Menu/index.html">Regresar</a>
                <a href="#" id="submit">Registrar Documentación</a>
            </form>
        </div>
    </div>
</body>
<footer id="footer">
    <p class="copyright">LPP Concesionario</p>
    <p class="copyright">&copy 2023 Todos los derechos reservados</p>
</footer>

</html>