#titulo {
    text-align: center;
    font-size: 1.5em;
}

body {
    background-color: #e0e0e0;
    color:black !important;
}

table[id="factura"] th,
table[id="factura"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 390px;
}

table[id="fecha"] th,
table[id="fecha"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 255px;
}

table[id="cliente"] th,
table[id="cliente"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 255px;
}


table[id="condiciones"] th,
table[id="condiciones"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 285px;
}

table[id="producto"] th,
table[id="producto"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 285px;
}

table[id="totales"] th,
table[id="totales"] td {
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 255px;
}


th {
    background-color: #e0e0e0;
}

td {
    background-color: white;
}

table[id="factura"] input {
    width: 84%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="fecha"] input {
    width: 82%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="cliente"] input {
    width: 82%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="condiciones"] input {
    width: 82%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="producto"] input {
    margin-left: 5px;
    width: 82%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="totales"] input {
    width: 82%;
    border: 0;
    text-align: center;
    padding: 10px;
}

table[id="factura"] {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

table[id="fecha"] {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}


table[id="cliente"] {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

table[id="condiciones"] {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

table[id="producto"] {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

table[id="totales"] {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center
}

#logo {
    display: block;
    text-align: center;
    width: 150px;
    margin: -20px auto;
}

#titulo {
    text-align: center;
    margin-top: 0px; 
    margin-bottom: -20px;
    font-family: calibri, monospace;
}

.container {
    background-color: white;
    margin: 30px auto !important;
    width: 55%;
    padding: 30px;
    border-radius: 5px;
}

#encabezado {
    margin: 0 auto;
}

#total-2 {
    font-weight: bold;
}

.espacio {
    visibility: collapse;
}

#cod-barras {
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    max-width: 25%;
}

#pdf {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    font-weight: bold;
}

@page {
    size: A4;
  }
  
  .container {
    width: 210mm; /* Ancho de A4 en mm */
    height: 297mm; /* Altura de A4 en mm */
    margin: 0 auto; /* Centra el div horizontalmente */
    /* Otros estilos según tus necesidades */
    page-break-after: always;
  }